@charset "UTF-8";
@font-face {
    font-family: 'brandon';
    src: url("../fonts/hvd_fonts_-_brandongrotesque-black.eot");
    src: url("../fonts/hvd_fonts_-_brandongrotesque-black.eot?#iefix") format("embedded-opentype"), url("../fonts/hvd_fonts_-_brandongrotesque-black.woff2") format("woff2"), url("../fonts/hvd_fonts_-_brandongrotesque-black.woff") format("woff"), url("../fonts/hvd_fonts_-_brandongrotesque-black.ttf") format("truetype");
    font-weight: 400;
    font-style: normal
}
@font-face {
    font-family: 'brandon-medium';
    src: url("../fonts/hvd_fonts_-_brandongrotesque-medium.eot");
    src: url("../fonts/hvd_fonts_-_brandongrotesque-medium.eot?#iefix") format("embedded-opentype"), url("../fonts/hvd_fonts_-_brandongrotesque-medium.woff2") format("woff2"), url("../fonts/hvd_fonts_-_brandongrotesque-medium.woff") format("woff"), url("../fonts/hvd_fonts_-_brandongrotesque-medium.ttf") format("truetype");
    font-weight: 400;
    font-style: normal
}
@font-face {
    font-family: 'opensans';
    src: url("../fonts/opensans-light.eot");
    src: url("../fonts/opensans-light.eot?#iefix") format("embedded-opentype"), url("../fonts/opensans-light.woff2") format("woff2"), url("../fonts/opensans-light.woff") format("woff"), url("../fonts/opensans-light.ttf") format("truetype");
    font-weight: 400;
    font-style: normal
}
@font-face {
    font-family: 'opensans';
    src: url("../fonts/opensans-lightitalic.eot");
    src: url("../fonts/opensans-lightitalic.eot?#iefix") format("embedded-opentype"), url("../fonts/opensans-lightitalic.woff2") format("woff2"), url("../fonts/opensans-lightitalic.woff") format("woff"), url("../fonts/opensans-lightitalic.ttf") format("truetype");
    font-weight: 400;
    font-style: italic
}
@font-face {
    font-family: 'opensans';
    src: url("../fonts/opensans-semibold.eot");
    src: url("../fonts/opensans-semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/opensans-semibold.woff2") format("woff2"), url("../fonts/opensans-semibold.woff") format("woff"), url("../fonts/opensans-semibold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal
}
.apply [role=banner],
.simple-banner [role=banner],
.hero--simple__heading-group,
.bd-background {
    background-color: #1ea8b4;
    background-image: radial-gradient(#22c0ce 10%, rgba(0, 0, 0, 0)11%), radial-gradient(#22c0ce 10%, rgba(0, 0, 0, 0)11%);
    background-size: 20px 20px;
    background-position: 0 0, 10px 10px
}
html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}
body {
    margin: 0
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
    display: block
}
audio,
canvas,
progress,
video {
    display: inline-block;
    vertical-align: baseline
}
audio:not([controls]) {
    display: none;
    height: 0
}
[hidden],
template {
    display: none
}
a {
    background-color: transparent
}
a:active,
a:hover {
    outline: 0
}
abbr[title] {
    border-bottom: 1px dotted
}
b,
strong {
    font-weight: 700
}
dfn {
    font-style: italic
}
mark {
    background: #ff0;
    color: #000
}
small {
    font-size: 80%
}
sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}
sup {
    top: -.5em
}
sub {
    bottom: -.25em
}
img {
    border: 0
}
svg:not(:root) {
    overflow: hidden
}
hr {
    box-sizing: content-box
}
pre {
    overflow: auto
}
code,
kbd,
pre,
samp {
    font-family: monospace, monospace;
    font-size: 1em
}
button,
input,
optgroup {
    font: inherit;
    margin: 0
}
optgroup {
    color: inherit
}
select {
    margin: 0
}
select,
textarea {
    font: inherit
}
button {
    overflow: visible
}
button,
select {
    text-transform: none
}
button {
    -webkit-appearance: button
}
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer
}
button[disabled],
html input[disabled] {
    cursor: default
}
button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0
}
input {
    line-height: normal
}
input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box;
    padding: 0
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    height: auto
}
input[type="search"] {
    -webkit-appearance: textfield;
    box-sizing: content-box
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none
}
fieldset {
    border: 1px solid silver
}
legend {
    border: 0
}
textarea {
    overflow: auto
}
optgroup {
    font-weight: 700
}
html {
    box-sizing: border-box
}
*,
*:before,
*:after {
    box-sizing: inherit
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre {
    padding: 0
}
dl {
    margin: 0
}
dl,
dd {
    padding: 0
}
form,
legend {
    margin: 0;
    padding: 0
}
table {
    padding: 0
}
th,
td {
    margin: 0
}
caption {
    padding: 0
}
caption,
hr {
    margin: 0
}
abbr[title],
dfn[title] {
    cursor: help
}
img {
    font-style: italic
}
label,
button,
select,
option {
    cursor: pointer
}
.text-input:active,
.text-input:focus,
textarea:active,
textarea:focus {
    cursor: text
}
.text-input,
textarea,
[type=text],
[type=url],
[type=week],
[type=time],
[type=tel],
[type=search],
[type=password],
[type=number],
[type=month],
[type=email],
[type=datetime],
[type=date] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-size: 100%;
    line-height: inherit;
    margin: 0;
    background: 0 0
}
select {
    background: 0 0;
    font-size: 100%
}
.clearfix:after,
.box:after,
.box--flush:after,
.box--tiny:after,
.box--small:after,
.box--large:after,
.box--huge:after,
.media:after,
.stat-group:after,
.multi-col-list:after,
.form--two-columns form:after,
.inner:after,
.contact-newsletter-form:after,
.contact-form:after,
.stats:after {
    content: "";
    display: table;
    clear: both
}
html {
    font-family: opensans, helvetica, arial, sans-serif;
    overflow-y: scroll;
    min-height: 100%
}
html,
body,
button,
input,
select,
textarea {
    color: #333
}
::-moz-selection {
    background: #f16839;
    color: #fff;
    text-shadow: none
}
::selection {
    background: #f16839;
    color: #fff;
    text-shadow: none
}
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    padding: 0
}
img {
    vertical-align: middle
}
fieldset {
    border: 0;
    margin: 0
}
textarea {
    resize: vertical
}
blockquote,
blockquote p:last-of-type {
    margin-bottom: 0
}
.source {
    display: block;
    text-indent: 0
}
.source:before {
    content: "—"
}
fieldset {
    padding: 1em
}
.form-list {
    list-style: none;
    margin: 0;
    padding: 0
}
.input-container {
    margin-bottom: 1.5rem
}
label,
.label {
    display: block
}
.label--additional {
    display: block;
    font-weight: 400
}
.text-input {
    padding: .5em;
    border: 0;
    border-style: solid;
    border-color: #000;
    border-radius: 8px
}
.text-input,
select,
textarea {
    display: block
}
.form-inline .text-input,
.form-inline select,
.form-inline textarea,
.form-inline label,
.form-inline .label {
    display: inline-block;
    vertical-align: middle
}
input[disabled],
select[disabled],
textarea[disabled],
input.is-disabled,
select.is-disabled,
textarea.is-disabled {
    cursor: not-allowed;
    border-color: #aaa;
    background-color: #ccc;
    color: #aaa
}
input[readonly],
select[readonly],
textarea[readonly],
input.is-readonly,
select.is-readonly,
textarea.is-readonly {
    border-color: #aaa;
    background-color: #ccc;
    color: #000
}
.helper-text {
    display: none
}
.text-input:active+.helper-text,
.text-input:focus+.helper-text,
textarea:active+.helper-text,
textarea:focus+.helper-text {
    display: block
}
.table {
    width: 100%
}
[colspan] {
    text-align: center
}
[colspan="1"] {
    text-align: left
}
[rowspan] {
    vertical-align: middle
}
[rowspan="1"] {
    vertical-align: top
}
.numerical {
    text-align: right
}
.table--spacing-large th,
.table--spacing-large td {
    padding: 1em
}
.table--spacing-medium th,
.table--spacing-medium td {
    padding: .5em
}
.table--spacing-small th,
.table--spacing-small td {
    padding: .25em
}
.table--bordered th,
.table--bordered td {
    border: 1px solid #000
}
.table--bordered-rows,
.table--bordered-rows th,
.table--bordered-rows td {
    border: 0 solid #000
}
.table--bordered-rows th,
.table--bordered-rows td {
    border-bottom-width: 1px
}
.table--bordered-columns,
.table--bordered-columns th,
.table--bordered-columns td {
    border: 0 solid #000
}
.table--bordered-columns {
    border-left-width: 1px
}
.table--bordered-columns th,
.table--bordered-columns td {
    border-right-width: 1px
}
.table--striped tbody tr:nth-of-type(odd) {
    background-color: #ccc
}
.table--fixed {
    table-layout: fixed
}
.box {
    padding: 1em
}
.box,
.box--flush,
.box--tiny,
.box--small,
.box--large,
.box--huge {
    display: block
}
.box>:last-child,
.box--flush>:last-child,
.box--tiny>:last-child,
.box--small>:last-child,
.box--large>:last-child,
.box--huge>:last-child {
    margin-bottom: 0
}
.box--flush {
    padding: 0
}
.box--tiny {
    padding: .25em
}
.box--small {
    padding: .5em
}
.box--large {
    padding: 2em
}
.box--huge {
    padding: 4em
}
.horizontal-list {
    list-style: none;
    margin: 0;
    padding: 0
}
.horizontal-list>li {
    display: inline-block
}
.horizontal-list>li>a {
    display: block
}
.horizontal-list--center {
    text-align: center
}
.horizontal-list--right {
    text-align: right
}
.horizontal-list--fill {
    display: table;
    width: 100%
}
.horizontal-list--fill>li {
    display: table-cell;
    text-align: center
}
.horizontal-list--fill>li>a {
    display: block
}
.horizontal-list--delimited>li:after {
    content: ", "
}
.horizontal-list--delimited>li:last-child:after {
    content: ''
}
.vertical-list,
.button-list,
.community-partners ul {
    list-style: none;
    margin: 0;
    padding: 0
}
.nav--primary {
    list-style: none;
    padding: 0
}
.vertical-list>li,
.button-list>li,
.community-partners ul>li,
.nav--primary>li {
    display: block
}
.vertical-list--delimited>li:after {
    content: ", "
}
.vertical-list--delimited>li:last-child:after {
    content: ''
}
.media {
    display: block
}
.media__figure {
    float: left;
    margin-right: 1em
}
.media__figure>img,
.media__body {
    display: block
}
.media__body {
    overflow: hidden
}
.media__body,
.media__body>:last-child {
    margin-bottom: 0
}
.media--rev>.media__figure {
    float: right;
    margin-right: 0;
    margin-left: 1em
}
.media--flush>.media__figure {
    margin-right: 0;
    margin-left: 0
}
.media--tiny>.media__figure {
    margin-right: .25em
}
.media--tiny.media--rev>.media__figure {
    margin-right: 0;
    margin-left: .25em
}
.media--small>.media__figure {
    margin-right: .5em
}
.media--small.media--rev>.media__figure {
    margin-right: 0;
    margin-left: .5em
}
.media--large>.media__figure {
    margin-right: 2em
}
.media--large.media--rev>.media__figure {
    margin-right: 0;
    margin-left: 2em
}
.media--huge>.media__figure {
    margin-right: 4em
}
.media--huge.media--rev>.media__figure {
    margin-right: 0;
    margin-left: 4em
}
@media screen and (max-width: 25em) {
    .media--stacked>.media__figure {
        float: none;
        margin-right: 0;
        margin-left: 0;
        margin-bottom: 1em
    }
    .media--stacked.media--tiny>.media__figure {
        margin-right: 0;
        margin-left: 0;
        margin-bottom: .25em
    }
    .media--stacked.media--small>.media__figure {
        margin-right: 0;
        margin-left: 0;
        margin-bottom: .5em
    }
    .media--stacked.media--large>.media__figure {
        margin-right: 0;
        margin-left: 0;
        margin-bottom: 2em
    }
    .media--stacked.media--huge>.media__figure {
        margin-right: 0;
        margin-left: 0;
        margin-bottom: 4em
    }
}
.flag {
    display: table;
    width: 100%
}
.flag__figure,
.flag__body {
    display: table-cell;
    vertical-align: top
}
.flag__figure {
    padding-right: 1em
}
.flag__figure>img {
    display: block;
    max-width: none
}
.flag__body {
    width: 100%
}
.flag__body,
.flag__body>:last-child {
    margin-bottom: 0
}
.flag--rev {
    direction: rtl
}
.flag--rev>.flag__figure,
.flag--rev>.flag__body {
    direction: ltr
}
.flag--rev>.flag__figure {
    padding-right: 0;
    padding-left: 1em
}
.flag--flush>.flag__figure {
    padding-right: 0;
    padding-left: 0
}
.flag--tiny>.flag__figure {
    padding-right: .25em
}
.flag--tiny.flag--rev>.flag__figure {
    padding-right: 0;
    padding-left: .25em
}
.flag--small>.flag__figure {
    padding-right: .5em
}
.flag--small.flag--rev>.flag__figure {
    padding-right: 0;
    padding-left: .5em
}
.flag--large>.flag__figure {
    padding-right: 2em
}
.flag--large.flag--rev>.flag__figure {
    padding-right: 0;
    padding-left: 2em
}
.flag--huge>.flag__figure {
    padding-right: 4em
}
.flag--huge.flag--rev>.flag__figure {
    padding-right: 0;
    padding-left: 4em
}
.flag--middle>.flag__figure,
.flag--middle>.flag__body {
    vertical-align: middle
}
.flag--bottom>.flag__figure,
.flag--bottom>.flag__body {
    vertical-align: bottom
}
@media screen and (max-width: 25em) {
    .flag--stacked {
        direction: ltr
    }
    .flag--stacked,
    .flag--stacked>.flag__figure,
    .flag--stacked>.flag__body {
        display: block
    }
    .flag--stacked>.flag__figure {
        padding-right: 0;
        padding-left: 0;
        margin-bottom: 1em
    }
    .flag--stacked.flag--tiny>.flag__figure {
        padding-right: 0;
        padding-left: 0;
        margin-bottom: .25em
    }
    .flag--stacked.flag--small>.flag__figure {
        padding-right: 0;
        padding-left: 0;
        margin-bottom: .5em
    }
    .flag--stacked.flag--large>.flag__figure {
        padding-right: 0;
        padding-left: 0;
        margin-bottom: 2em
    }
    .flag--stacked.flag--huge>.flag__figure {
        padding-right: 0;
        padding-left: 0;
        margin-bottom: 4em
    }
}
.btn {
    color: inherit;
    margin: 0;
    padding: .5em .75em
}
.btn,
form button {
    -webkit-appearance: none;
    background-color: #d3d3d3;
    border-width: 0;
    border-color: #000;
    border-style: solid;
    cursor: pointer;
    display: inline-block;
    font: inherit;
    line-height: normal;
    overflow: visible;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    white-space: normal
}
.btn:hover,
form button:hover,
.btn:active,
form button:active,
.btn:focus,
form button:focus {
    text-decoration: none
}
.btn:disabled,
form button:disabled,
.btn.is-disabled,
form button.is-disabled {
    cursor: default;
    opacity: .5
}
.btn::-moz-focus-inner,
form button::-moz-focus-inner {
    border: 0;
    padding: 0
}
.split {
    text-align: right;
    list-style: none;
    margin: 0;
    padding: 0
}
.split__title {
    text-align: left;
    float: left;
    clear: left
}
.stat-group {
    margin-left: 0
}
.stat {
    float: left
}
.stat+.stat {
    margin-left: 1em
}
.stat>a {
    display: block
}
.stat__value,
.stat-group--big .stat {
    margin-left: 0;
    text-align: center
}
.stat-group--big .stat {
    float: none
}
.multi-col-list {
    list-style: none;
    margin-left: 0
}
.multi-col-list>li {
    float: left
}
.two-columns>li {
    width: 50%
}
.three-columns>li {
    width: 33.333333333%
}
.four-columns>li {
    width: 25%
}
.five-columns>li {
    width: 20%
}
.six-columns>li {
    width: 16.666666667%
}
.size-5 {
    width: 5%!important
}
.size-10 {
    width: 10%!important
}
.size-15 {
    width: 15%!important
}
.size-20 {
    width: 20%!important
}
.size-25 {
    width: 25%!important
}
.size-30 {
    width: 30%!important
}
.size-35 {
    width: 35%!important
}
.size-40 {
    width: 40%!important
}
.size-45 {
    width: 45%!important
}
.size-50 {
    width: 50%!important
}
.size-55 {
    width: 55%!important
}
.size-60 {
    width: 60%!important
}
.size-65 {
    width: 65%!important
}
.size-70 {
    width: 70%!important
}
.size-75 {
    width: 75%!important
}
.size-80 {
    width: 80%!important
}
.size-85 {
    width: 85%!important
}
.size-90 {
    width: 90%!important
}
.size-95 {
    width: 95%!important
}
.size-100 {
    width: 100%!important
}
html {
    font-size: .875em;
    line-height: 1.5
}
h1,
h2,
h3,
h4,
h5,
h6,
.alpha,
.beta,
.gamma,
.delta,
.epsilon,
.zeta {
    font-family: brandon, helvetica, arial, sans-serif;
    font-weight: 400;
    text-transform: uppercase
}
body,
p {
    font-size: 1rem;
    line-height: 1.5
}
p,
h1 {
    margin: 0 0 1.5rem
}
h1,
.alpha,
.x-large {
    font-size: 2.6653571429rem;
    line-height: 1.1255527268
}
.alpha,
.x-large {
    margin-bottom: 1.5rem
}
h2 {
    margin: 0 0 1.5rem
}
h2,
.beta,
.large {
    font-size: 2.3685714286rem;
    line-height: 1.2665862485
}
.beta,
.large {
    margin-bottom: 1.5rem
}
h3 {
    margin: 0 0 1.5rem
}
h3,
.gamma,
.medium {
    font-size: 1.9995rem;
    line-height: 1.5003750938
}
.gamma,
.medium {
    margin-bottom: 1.5rem
}
h4 {
    margin: 0 0 1.5rem
}
h4,
.delta,
.small {
    font-size: 1.7768571429rem;
    line-height: 1.6883743367
}
.delta,
.small {
    margin-bottom: 1.5rem
}
h5 {
    margin: 0 0 1.5rem
}
h5,
.epsilon,
.x-small {
    font-size: 1.5rem;
    line-height: 1
}
.epsilon,
.x-small {
    margin-bottom: 1.5rem
}
h6 {
    margin: 0 0 1.5rem
}
h6,
.zeta,
.xx-small {
    font-size: 1.333rem;
    line-height: 1.1252813203
}
.zeta,
.xx-small {
    margin-bottom: 1.5rem
}
.eta,
.xxx-small {
    font-size: 1rem;
    line-height: 1.5
}
.eta,
.xxx-small,
address {
    margin-bottom: 1.5rem
}
ul,
ol,
dd {
    margin: 0 0 1.5rem
}
ul,
ol {
    padding: 0 0 0 2rem
}
li>ul,
li>ol {
    margin-bottom: 0
}
pre,
blockquote,
table {
    margin: 0 0 1.5rem
}
table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0
}
th,
td {
    padding: 10.5px
}
.heading--primary {
    color: #f16839
}
.heading--alt {
    color: #fff
}
.heading--tertiary {
    color: #1ea8b4
}
.heading-group>h1,
.heading-group>h2,
.heading-group>h3,
.heading-group>h4,
.heading-group>h5,
.heading-group>h6 {
    line-height: 1
}
a {
    font-weight: 700;
    text-decoration: none;
    color: #2A252D
}
a:hover {
    color: #f16839
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a,
.alpha a,
.beta a,
.gamma a,
.delta a,
.epsilon a,
.zeta a {
    color: #f16839
}
h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover,
h6 a:hover,
.alpha a:hover,
.beta a:hover,
.gamma a:hover,
.delta a:hover,
.epsilon a:hover,
.zeta a:hover {
    color: #c14f30
}
.btn--primary {
    border-radius: 5.5px;
    padding: .5em 1.5em;
    font-family: brandon, helvetica, arial, sans-serif;
    margin-bottom: 1.5rem;
    font-size: 1rem;
    line-height: 1.5;
    text-transform: uppercase;
    transition: all .3s linear;
    letter-spacing: 1px
}
form button {
    margin: 0 0 1.5rem
}
form button,
.btn--alt,
.btn--tertiary,
.btn--quaternary {
    border-radius: 5.5px;
    padding: .5em 1.5em;
    font-family: brandon, helvetica, arial, sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    text-transform: uppercase;
    transition: all .3s linear;
    letter-spacing: 1px
}
.btn--alt,
.btn--tertiary,
.btn--quaternary {
    margin-bottom: 1.5rem
}
.btn--primary:hover,
form button:hover,
.btn--alt:hover,
.btn--tertiary:hover,
.btn--quaternary:hover {
    transition: all .2s linear;
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px)
}
.btn--primary:active,
form button:active,
.btn--alt:active,
.btn--tertiary:active,
.btn--quaternary:active {
    transition: all .2s linear;
    -webkit-transform: translateY(2px);
    transform: translateY(2px);
    box-shadow: 0 0 0;
    outline: none
}
.btn--primary:focus,
form button:focus,
.btn--alt:focus,
.btn--tertiary:focus,
.btn--quaternary:focus {
    outline: none
}
.btn--primary,
form button {
    background-color: #f16839;
    color: #fff
}
.btn--primary:hover,
form button:hover {
    background-color: #f16839;
    color: #fff;
    box-shadow: 0 5px 0 #c14f30
}
.btn--primary:active,
form button:active {
    background-color: #c14f30
}
.btn--alt {
    background-color: #fff;
    color: #f16839
}
.btn--alt:hover {
    background-color: #fff;
    box-shadow: 0 5px 0 #cccbcb
}
.btn--alt:active {
    background-color: #cccbcb
}
.btn--tertiary {
    background-color: #fff;
    color: #1ea8b4
}
.btn--tertiary:hover {
    background-color: #fff;
    color: #1ea8b4;
    box-shadow: 0 5px 0 #cccbcb
}
.btn--tertiary:active {
    background-color: #cccbcb
}
.btn--quaternary {
    background-color: #1ea8b4;
    color: #fff
}
.btn--quaternary:hover {
    background-color: #1ea8b4;
    color: #fff;
    box-shadow: 0 5px 0 #cccbcb
}
.btn--quaternary:active {
    background-color: #cccbcb
}
.btn--small {
    line-height: .5;
    border-radius: 8px
}
.button-list {
    text-align: center
}
@media (min-width: 47.5em) {
    .button-list {
        list-style: none;
        margin: 0;
        padding: 0;
        text-align: left
    }
    .button-list>li {
        display: inline-block
    }
    .button-list>li>a {
        display: block
    }
    .button-list li {
        margin-right: 1em
    }
    .button-list li:last-child {
        margin-right: 0
    }
}
[type=text],
[type=url],
[type=week],
[type=time],
[type=tel],
[type=search],
[type=password],
[type=number],
[type=month],
[type=email],
[type=datetime],
[type=date],
select,
textarea {
    display: block;
    padding: .5em;
    border: 0;
    border-style: solid;
    border-color: #000;
    border-radius: 8px
}
form textarea,
form [type=text],
form [type=url],
form [type=week],
form [type=time],
form [type=tel],
form [type=search],
form [type=password],
form [type=number],
form [type=month],
form [type=email],
form [type=datetime],
form [type=date] {
    background-color: #efefef;
    border: 0;
    border-radius: 8px;
    width: 100%
}
form div {
    margin-bottom: 1em
}
.form-apply form textarea,
.form-apply form [type=text],
.form-apply form [type=url],
.form-apply form [type=week],
.form-apply form [type=time],
.form-apply form [type=tel],
.form-apply form [type=search],
.form-apply form [type=password],
.form-apply form [type=number],
.form-apply form [type=month],
.form-apply form [type=email],
.form-apply form [type=datetime],
.form-apply form [type=date] {
    width: initial
}
.label,
label {
    font-style: italic
}
select {
    background-color: #efefef
}
input[type=radio],
input[type=checkbox] {
    display: inline-block;
    margin: 0 .75em .75em
}
input[type=radio]+label,
input[type=checkbox]+label {
    display: inline-block
}
.phone-number .form-sub-label-container:first-of-type {
    display: inline-block;
    margin-right: 1em
}
.phone-number .form-sub-label-container:first-of-type input {
    display: inline;
    margin-right: 1em
}
.phone-number .form-sub-label-container:last-of-type {
    display: inline-block
}
.form--alt [type=text],
.form--alt [type=url],
.form--alt [type=week],
.form--alt [type=time],
.form--alt [type=tel],
.form--alt [type=search],
.form--alt [type=password],
.form--alt [type=number],
.form--alt [type=month],
.form--alt [type=email],
.form--alt [type=datetime],
.form--alt [type=date],
.form--alt select,
.form--alt textarea {
    background-color: #fff
}
[type=checkbox] {
    margin-right: 10px
}
.form-wrapper {
    max-width: 30em
}
.required,
.form-required {
    color: #bd0f13;
    font-style: italic
}
.form-apply-toggle {
    display: none
}
.form--skinny {
    max-width: 320px
}
.form--skinny form textarea,
.form--skinny form [type=text],
.form--skinny form [type=url],
.form--skinny form [type=week],
.form--skinny form [type=time],
.form--skinny form [type=tel],
.form--skinny form [type=search],
.form--skinny form [type=password],
.form--skinny form [type=number],
.form--skinny form [type=month],
.form--skinny form [type=email],
.form--skinny form [type=datetime],
.form--skinny form [type=date],
.form--skinny form select {
    width: 100%
}
@media (min-width: 30em) {
    .form--two-columns form div:nth-child(even) {
        width: 47.3684210526%;
        float: left;
        margin-right: -100%;
        margin-left: 0;
        clear: left
    }
    .form--two-columns form div:nth-child(odd) {
        width: 47.3684210526%;
        float: right;
        margin-left: 0;
        margin-right: 0;
        clear: none
    }
    .form--two-columns form button {
        float: left;
        clear: left
    }
}
@media (min-width: 60.5em) {
    .form--two-columns form div:nth-child(even) {
        width: 48.5714285714%;
        float: left;
        margin-right: -100%;
        margin-left: 0;
        clear: left
    }
    .form--two-columns form div:nth-child(odd) {
        width: 48.5714285714%;
        float: right;
        margin-left: 0;
        margin-right: 0;
        clear: none
    }
}
html,
body {
    background-color: #fff;
    margin-bottom: 0
}
img {
    max-width: 100%
}
figure {
    margin: 0
}
.inner {
    max-width: 1000px;
    margin: 0 auto;
    position: relative
}
.simple-list {
    margin: 0;
    list-style: none
}
.bare-list {
    margin: 0;
    padding: 0;
    list-style-type: none
}
.show-more {
    float: left;
    clear: both;
    font-style: italic
}
.flag--stacked .flag__figure--center {
    margin: 0 auto
}
@media (min-width: 60.5em) {
    .alt-box {
        border-left: 4px solid #cccbcb;
        border-right: 4px solid #cccbcb
    }
}
.home-partners li {
    margin-bottom: 3em
}
.home-partners li:last-child {
    margin-bottom: 0
}
@media (min-width: 30em) {
    .community-partners ul {
        list-style: none;
        margin: 0;
        padding: 0
    }
    .community-partners ul>li {
        display: inline-block
    }
    .community-partners ul>li>a {
        display: block
    }
}
.community-partners li {
    margin-bottom: 1em;
    text-align: center;
    margin-right: 1em
}
.community-partners li:last-child {
    margin-right: 0
}
.social li {
    padding-left: 2%;
    padding-right: 2%
}
@media (min-width: 60.5em) {
    .social {
        margin-top: 7em
    }
    .social li {
        padding-left: 4%;
        padding-right: 4%
    }
}
@media (min-width: 60.5em) {
    .hiring-bootcamps .three-up__item,
    .community-events .three-up__item {
        border-right: 4px solid #fff
    }
    .hiring-bootcamps .three-up__item:last-child,
    .community-events .three-up__item:last-child {
        border: none
    }
}
.community-events .grey-background {
    color: #1ea8b4
}
.contact-newsletter-form,
.contact-form {
    max-width: 30em
}
.contact-newsletter-form span>label,
.contact-form span>label {
    margin-bottom: 1em
}
@media (min-width: 60.5em) {
    .contact-newsletter-form,
    .contact-form {
        max-width: 100%
    }
    .contact-newsletter-form button,
    .contact-form button {
        float: left;
        clear: both
    }
}
.contact-newsletter-additional span>label {
    margin-bottom: 1em
}
@media (min-width: 60.5em) {
    .contact-newsletter-additional {
        padding: 1em 0 0 6em
    }
    .contact-newsletter-additional label+label {
        margin-bottom: 2em
    }
}
.contact-contact-additional textarea {
    height: 12.5em
}
@media (min-width: 60.5em) {
    .contact-contact-additional {
        padding-left: 3em
    }
}
@media (min-width: 60.5em) {
    .two-up {
        display: table
    }
}
@media (min-width: 60.5em) {
    .two-up__item {
        display: table-cell;
        width: 50%;
        vertical-align: top
    }
}
@media (min-width: 60.5em) {
    .two-up__item__inner {
        padding: 2em
    }
}
@media (min-width: 60.5em) {
    .three-up {
        display: table
    }
}
@media (min-width: 60.5em) {
    .three-up__item {
        display: table-cell;
        width: 33.33333%;
        vertical-align: top
    }
}
@media (min-width: 60.5em) {
    .home-partners,
    .newsletter,
    .hacker-society,
    .community-cowork,
    .contact-newsletter,
    .contact-contact {
        width: 48.5714285714%;
        float: left;
        margin-right: -100%;
        margin-left: 0;
        clear: none
    }
}
@media (min-width: 60.5em) {
    .about-gc,
    .social,
    .about-video,
    .community-gallery,
    .contact-newsletter-additional,
    .contact-contact-additional {
        width: 48.5714285714%;
        float: right;
        margin-left: 0;
        margin-right: 0;
        clear: none
    }
}
[role=banner],
.simple-banner .topbar {
    background-color: #2A252D
}
@media (min-width: 56em) {
    .topbar {
        background-color: #f16839;
        background-image: linear-gradient(to right, #2A252D 15%, #f16839 15%, #f16839 50%, #f48c69 50%);
        position: fixed;
        width: 100%;
        height: 67px;
        z-index: 20
    }
}
@media (min-width: 75em) {
    .topbar {
        background-image: linear-gradient(to right, #2A252D 22%, #f16839 22%, #f16839 50%, #f48c69 50%)
    }
}
@media (min-width: 108em) {
    .topbar {
        background-image: linear-gradient(to right, #2A252D 30%, #f16839 30%, #f16839 50%, #f48c69 50%)
    }
}
@media (min-width: 150em) {
    .topbar {
        background-image: linear-gradient(to right, #2A252D 36%, #f16839 36%, #f16839 50%, #f48c69 50%)
    }
}
.logo {
    display: block;
    width: 150px;
    margin: 0 auto 1px;
    position: relative;
    z-index: 10
}
@media (min-width: 56em) {
    .logo {
        position: absolute;
        top: 0;
        left: .5em
    }
}
@media (min-width: 62.5em) {
    .logo {
        left: 1em
    }
}
a.next-bootcamp {
    text-decoration: none
}
a.next-bootcamp:hover {
    color: #fff
}
@media (min-width: 56em) {
    [role=navigation] {
        width: 74.5762711864%;
        float: right;
        margin-left: 0;
        margin-right: 0;
        clear: none
    }
}
.nav--primary {
    margin: 0 auto;
    height: 100%;
    text-align: center;
    background-color: #f48c69
}
.nav--primary li a {
    display: block;
    font-family: brandon-medium, helvetica, arial, sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 0;
    font-weight: lighter;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    background-color: #f16839;
    padding: .5em;
    transition: all .2s linear
}
.nav--primary li a:hover {
    color: #c14f30;
    transition: all .1s linear
}
.nav--primary .current {
    color: #c14f30
}
.nav--primary li:nth-last-of-type(-n+3) a {
    background-color: #f48c69;
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 0
}
.nav--primary li:nth-last-of-type(-n+3) a:hover {
    transition: all .1s linear
}
@media (min-width: 47.5em) {
    .nav--primary {
        display: table;
        width: 100%
    }
    .nav--primary>li {
        display: table-cell;
        text-align: center
    }
    .nav--primary>li a {
        padding: 1.75em 1em 1.5em
    }
    .nav--primary>li:nth-last-of-type(-n+2) a {
        background: url("../images/bullet.svg") no-repeat 0 29px
    }
}
.nav--secondary {
    background-color: #f16839
}
.nav--secondary>li>a {
    color: #fff;
    padding: 1em .5em;
    font-family: brandon-medium, helvetica, arial, sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 0;
    font-weight: lighter;
    transition: all .1s linear
}
.nav--secondary>li>a:hover {
    color: #c14f30;
    transition: all .1s linear
}
@media (min-width: 78.5em) {
    .nav--secondary>li>a {
        background: url("../images/bullet.svg") no-repeat 1px 11px;
        padding: .5em 1em .5em 2em
    }
}
.nav--secondary>li .current {
    color: #c14f30
}
.nav--secondary>li:first-child a {
    background: 0 0;
    padding-left: 0
}
.nav--secondary>li:last-child a {
    padding-right: 0
}
.hero {
    position: relative;
    text-align: center
}
@media (min-width: 56em) {
    .hero {
        padding-top: 67px
    }
}
.hero__heading-group {
    width: 100%;
    padding: 1em;
    border-top: 4px solid #cccbcb;
    background-color: #2A252D;
    background-image: radial-gradient(#443c49 10%, rgba(0, 0, 0, 0)11%), radial-gradient(#443c49 10%, rgba(0, 0, 0, 0)11%);
    background-size: 20px 20px;
    background-position: 0 0, 10px 10px
}
@media (min-width: 30em) {
    .hero__heading-group {
        position: absolute;
        top: 50%;
        left: 0;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        padding: 1em 3em;
        border: 0;
        background: 0 0
    }
}
@media (min-width: 50.5em) {
    .index .hero__heading-group {
        top: 60%
    }
    .index .hero__heading-group .hero__heading--additional {
        padding: 0 3em
    }
}
.hero__heading {
    color: #fff;
    text-shadow: 0 0 10px rgba(0, 0, 0, .8)
}
.hero__heading--main {
    line-height: 1em;
    margin-bottom: .25em
}
.hero__heading--additional {
    line-height: 1.25em;
    margin-bottom: 0
}
.hero-crop {
    max-height: 350px;
    overflow: hidden
}
.hero--simple__heading-group {
    width: 100%;
    padding: 1em;
    border-top: 0
}
@media (min-width: 56em) {
    .hero--simple__heading-group {
        padding: 3em 1.5em 2em
    }
}
.next-bootcamp {
    background-color: #1ea8b4;
    color: #fff;
    display: block
}
.next-bootcamp p {
    font-style: italic
}
@media (min-width: 47.5em) {
    .next-bootcamp {
        position: absolute;
        top: 0;
        right: 0;
        width: 34.2%
    }
}
@media (min-width: 56em) {
    .next-bootcamp {
        width: 25.5%
    }
}
.quote-block__quote {
    margin: 0;
    padding: 1em 2em;
    text-align: center
}
@media (min-width: 32em) {
    .quote-block__quote {
        padding-left: 5em;
        padding-right: 5em
    }
}
.quote-block__quote p {
    line-height: 1.2em
}
.quote-block__quote p,
.quote-block__quote .source {
    margin-bottom: 1.5rem;
    font-size: 1rem;
    font-style: italic;
    color: #fff
}
.quote-block__quote .source {
    line-height: 1.5
}
.quote-block__quote blockquote {
    margin-bottom: .75em
}
.faq {
    counter-reset: faq
}
.faq dd+dt {
    margin-top: 1em
}
.faq dt {
    font-weight: 700;
    cursor: pointer
}
.faq dt:before {
    counter-increment: faq;
    content: counter(faq)". "
}
.faq dd {
    margin-bottom: 0
}
.stats img {
    width: 125px
}
.stats .stats__stat {
    float: left;
    width: 48%;
    margin-right: 4%;
    text-align: center
}
.stats .stats__stat:nth-child(even) {
    margin-right: 0
}
@media (min-width: 50em) {
    .stats .stats__stat {
        width: 22%
    }
    .stats .stats__stat:nth-child(even) {
        margin-right: 4%
    }
    .stats .stats__stat:nth-child(4n) {
        margin-right: 0
    }
}
.stat-title {
    font-size: 2.5rem;
    font-weight: 700;
    color: #1ea8b4
}
.stat-title,
.stat-title--alt {
    font-family: brandon, helvetica, arial, sans-serif
}
.stat-title--alt {
    font-size: 1.2rem;
    text-transform: uppercase;
    color: #f16839
}
.footnote {
    color: #1ea8b4;
    display: block
}
.grads-work {
    text-align: center;
    padding-left: 0
}
.grads-work li {
    padding: 10px
}
.embed-container {
    position: relative;
    overflow: hidden;
    max-width: 100%;
    height: 15em
}
@media (min-width: 51.125em) {
    .embed-container {
        height: 25em
    }
}
.embed-container iframe,
.embed-container object,
.embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}
.rg-gallery {
    margin: 0;
    max-width: 500px
}
.rg-image-wrapper {
    position: relative;
    padding: 5px 5px 0;
    background-color: #cccbcb;
    min-height: 20px
}
.rg-image {
    position: relative;
    text-align: center;
    line-height: 0
}
.rg-image img {
    height: 100%;
    width: 100%
}
.rg-image-nav a {
    position: absolute;
    bottom: 0;
    right: 45px;
    background: rgba(42, 37, 45, .6)url(../images/nav.png) no-repeat -75% 50%;
    width: 40px;
    height: 40px;
    text-indent: -9000px;
    cursor: pointer;
    outline: none;
    z-index: 10
}
.rg-image-nav a.rg-image-nav-next {
    right: 5px;
    left: auto;
    bottom: 0;
    background-position: 175% 50%
}
.rg-loading {
    width: 46px;
    height: 46px;
    position: absolute;
    top: 50%;
    left: 50%;
    background: #000 url(../images/ajax-loader.gif) no-repeat center center;
    margin: -23px 0 0 -23px;
    z-index: 100;
    border-radius: 10px;
    opacity: .7
}
.es-carousel-wrapper {
    background: #cccbcb;
    padding: 5px 27px;
    position: relative
}
.es-carousel {
    overflow: hidden;
    background: #cccbcb
}
.es-carousel ul {
    display: none;
    min-width: 450px!important
}
.es-carousel ul li {
    height: 100%;
    float: left;
    display: block;
    width: 85px!important;
    margin-right: 5px!important
}
.es-carousel ul li:last-child {
    margin-right: 0
}
.es-carousel ul li a {
    display: block;
    -webkit-touch-callout: none;
    transition: all .2s ease-in-out
}
.es-carousel ul li.selected a {
    position: relative
}
.es-carousel ul li.selected a:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(241, 104, 57, .5)
}
.es-carousel ul li a img {
    display: block;
    border: none;
    max-height: 100%;
    max-width: 100%
}
.es-nav span {
    position: absolute;
    top: 50%;
    left: 8px;
    background: url(../images/nav_thumbs.png) no-repeat top left;
    width: 14px;
    height: 26px;
    margin-top: -13px;
    text-indent: -9000px;
    cursor: pointer
}
.es-nav span.es-nav-next {
    right: 8px;
    left: auto;
    background-position: top right
}
.figure-gallery {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: space-around;
    justify-content: space-around
}
.figure-gallery__item {
    max-width: 320px
}
.figure-gallery__item a {
    color: #f16839
}
@media (min-width: 40em) {
    .figure-gallery__item {
        max-width: 300px;
        -webkit-flex: 1 50%;
        flex: 1 50%
    }
}
@media (min-width: 60em) {
    .figure-gallery__item {
        -webkit-flex: 1 30%;
        flex: 1 30%
    }
}
.class-gallery .figure-gallery__item {
    position: relative;
    background-color: #fff
}
.student-meta {
    position: absolute;
    text-align: center
}
@media (min-width: 60em) {
    .student-meta {
        display: none
    }
}
[class*="student-meta__"] a {
    padding: 0 13px 5px;
    display: block;
    color: #fff;
    font-family: brandon, helvetica, arial, sans-serif;
    width: 65px
}
[class*="student-meta__"] a[href=""] {
    display: none
}
.student-meta__git {
    background-color: #231f20;
    font-size: 21px
}
.student-meta__git a {
    padding-top: 2px
}
.student-meta__linkedin {
    background-color: #18689c;
    font-size: 21px
}
.student-meta__web {
    background-color: #1ea8b4;
    font-size: 18.662px
}
.student-meta__web a {
    padding-top: 5px;
    padding-bottom: 3px
}
.class-gallery__item:hover>.student-meta {
    display: block
}
.add-yourself {
    width: 320px;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center
}
.plus {
    font-size: 5em;
    line-height: 1
}
.student-gallery .figure-gallery__fig {
    width: 320px;
    height: 320px;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center
}
@media (min-width: 40em) {
    .student-gallery .figure-gallery__fig {
        width: 300px
    }
}
.slick-slider {
    box-sizing: border-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent
}
.slick-slider,
.slick-list {
    position: relative;
    display: block
}
.slick-list {
    overflow: hidden;
    margin: 0;
    padding: 0
}
.slick-list:focus {
    outline: none
}
.slick-list.dragging {
    cursor: hand
}
.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)
}
.slick-track {
    position: relative;
    left: 0;
    top: 0;
    display: block
}
.slick-track:before,
.slick-track:after {
    content: "";
    display: table
}
.slick-track:after {
    clear: both
}
.slick-loading .slick-track {
    visibility: hidden
}
.slick-slide {
    float: left;
    height: 100%;
    min-height: 1px;
    display: none
}
[dir="rtl"] .slick-slide {
    float: right
}
.slick-slide img {
    display: block
}
.slick-slide.slick-loading img {
    display: none
}
.slick-slide.dragging img {
    pointer-events: none
}
.slick-initialized .slick-slide {
    display: block
}
.slick-loading .slick-slide {
    visibility: hidden
}
.slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent
}
.slick-arrow.slick-hidden {
    display: none
}
.pl section {
    border-bottom: 5px solid #cccbcb
}
.pl section:nth-child(odd) {
    background-color: #efefef
}
.pl section:last-child {
    border: 0
}
.pl-colors li {
    margin: 0 1em 1em
}
@media (min-width: 43.625em) {
    .pl-colors li {
        margin: 0 2em 1em
    }
}
@media (min-width: 43.625em) {
    .pl-colors li {
        margin: 0 .5em 1em
    }
}
.pl-colors .hex {
    display: block
}
.pl-colors__black .circle,
.pl-colors__grey--dark .circle,
.pl-colors__grey .circle,
.pl-colors__white .circle,
.pl-colors__orange .circle,
.pl-colors__orange--dark .circle,
.pl-colors__blue .circle,
.pl-colors__green .circle {
    border-radius: 50%;
    width: 75px;
    height: 75px;
    display: block;
    margin: 0 auto 1em
}
@media (min-width: 29.9375em) {
    .pl-colors__black .circle,
    .pl-colors__grey--dark .circle,
    .pl-colors__grey .circle,
    .pl-colors__white .circle,
    .pl-colors__orange .circle,
    .pl-colors__orange--dark .circle,
    .pl-colors__blue .circle,
    .pl-colors__green .circle {
        width: 100px;
        height: 100px
    }
}
@media (min-width: 37.375em) {
    .pl-colors__black .circle,
    .pl-colors__grey--dark .circle,
    .pl-colors__grey .circle,
    .pl-colors__white .circle,
    .pl-colors__orange .circle,
    .pl-colors__orange--dark .circle,
    .pl-colors__blue .circle,
    .pl-colors__green .circle {
        width: 120px;
        height: 120px
    }
}
@media (min-width: 52.375em) {
    .pl-colors__black .circle,
    .pl-colors__grey--dark .circle,
    .pl-colors__grey .circle,
    .pl-colors__white .circle,
    .pl-colors__orange .circle,
    .pl-colors__orange--dark .circle,
    .pl-colors__blue .circle,
    .pl-colors__green .circle {
        width: 85px;
        height: 85px
    }
}
.pl-colors__black .circle {
    background-color: #2A252D
}
.pl-colors__grey--dark .circle {
    background-color: #cccbcb
}
.pl-colors__grey .circle {
    background-color: #efefef;
    border: 1px solid
}
.pl-colors__white .circle {
    background-color: #fff
}
.pl-colors__orange .circle {
    background-color: #f16839
}
.pl-colors__orange--dark .circle {
    background-color: #c14f30
}
.pl-colors__blue .circle {
    background-color: #1ea8b4
}
.pl-colors__green .circle {
    background-color: #198689
}
.center {
    text-align: center
}
.hidden {
    display: none
}
.block {
    display: block
}
@media (min-width: 56em) {
    .offset {
        padding-top: 67px
    }
}
.center-layout {
    margin: 0 auto
}
@media (min-width: 56em) {
    :target::before {
        display: block;
        content: " ";
        margin-top: -80px;
        height: 80px;
        visibility: hidden
    }
}
.bb {
    border-bottom: 4px solid #cccbcb
}
.bt {
    border-top: 4px solid #cccbcb
}
.br {
    border-right: 4px solid #cccbcb
}
.bl {
    border-left: 4px solid #cccbcb
}
.bn {
    border: 0!important
}
.bbw {
    border-bottom: 4px solid #fff
}
.grey-background {
    background-color: #efefef;
    color: #2A252D
}
.white-background {
    background-color: #fff;
    color: #2A252D
}
.orange-background {
    background-color: #f16839;
    color: #fff
}
.blue-background {
    background-color: #1ea8b4;
    color: #fff
}
.bd-background__item {
    background: #efefef
}
.ptn,
.pvn,
.pan {
    padding-top: 0!important
}
.pts,
.pvs,
.pas {
    padding-top: .5em!important
}
.ptm,
.pvm,
.pam {
    padding-top: 1em!important
}
.ptl,
.pvl,
.pal {
    padding-top: 2em!important
}
.pth,
.pvh,
.pah {
    padding-top: 3em!important
}
.prn,
.phn,
.pan {
    padding-right: 0!important
}
.prs,
.phs,
.pas {
    padding-right: .5em!important
}
.prm,
.phm,
.pam {
    padding-right: 1em!important
}
.prl,
.phl,
.pal {
    padding-right: 2em!important
}
.prh,
.phh,
.pah {
    padding-right: 3em!important
}
.pbn,
.pvn,
.pan {
    padding-bottom: 0!important
}
.pbs,
.pvs,
.pas {
    padding-bottom: .5em!important
}
.pbm,
.pvm,
.pam {
    padding-bottom: 1em!important
}
.pbl,
.pvl,
.pal {
    padding-bottom: 2em!important
}
.pbh,
.pvh,
.pah {
    padding-bottom: 3em!important
}
.pln,
.phn,
.pan {
    padding-left: 0!important
}
.pls,
.phs,
.pas {
    padding-left: .5em!important
}
.plm,
.phm,
.pam {
    padding-left: 1em!important
}
.pll,
.phl,
.pal {
    padding-left: 2em!important
}
.plh,
.phh,
.pah {
    padding-left: 3em!important
}
.mtn,
.mvn,
.man {
    margin-top: 0!important
}
.mts,
.mvs,
.mas {
    margin-top: .5em!important
}
.mtm,
.mvm,
.mam {
    margin-top: 1em!important
}
.mtl,
.mvl,
.mal {
    margin-top: 2em!important
}
.mth,
.mvh,
.mah {
    margin-top: 3em!important
}
.mrn,
.mhn,
.man {
    margin-right: 0!important
}
.mrs,
.mhs,
.mas {
    margin-right: .5em!important
}
.mrm,
.mhm,
.mam {
    margin-right: 1em!important
}
.mrl,
.mhl,
.mal {
    margin-right: 2em!important
}
.mrh,
.mhh,
.mah {
    margin-right: 3em!important
}
.mbn,
.mvn,
.man {
    margin-bottom: 0!important
}
.mbs,
.mvs,
.mas {
    margin-bottom: .5em!important
}
.mbm,
.mvm,
.mam {
    margin-bottom: 1em!important
}
.mbl,
.mvl,
.mal {
    margin-bottom: 2em!important
}
.mbh,
.mvh,
.mah {
    margin-bottom: 3em!important
}
.mln,
.mhn,
.man {
    margin-left: 0!important
}
.mls,
.mhs,
.mas {
    margin-left: .5em!important
}
.mlm,
.mhm,
.mam {
    margin-left: 1em!important
}
.mll,
.mhl,
.mal {
    margin-left: 2em!important
}
.mlh,
.mhh,
.mah {
    margin-left: 3em!important
}
